body {
    height: 100vh;
    background-color: #F2F2F2;
    font-family: 'Quicksand', sans-serif;  
}

/* @media screen and (min-width: 601px) and (orientation: portrait) {} */

/*Pagina login*/
@media screen and (max-width: 600px) and (orientation: portrait) {


body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.loginSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10vh;
}

.logo{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 15vw;
}

.logotypeLogin {
    width: 63vw;
}

.loginForm {
    display: grid;
    gap: 2vw;
   /* height: 60%;*/
    justify-items: center;
    margin-bottom: 7vh;
}

.loginEmail,.loginPassword {
    border:none;
    border-bottom: 1px solid #87544E;
    background: none;
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Quicksand', sans-serif;  
}

::placeholder {
    color: black;
    font-family: 'Quicksand', sans-serif;  
}

.loginOption{
    display: grid;
    align-items: center;
    justify-items: center;   
}

.googleLogo{
    width: 10vh;
    margin-bottom: 1vh;
}

.btnLogin{
    width: 20vh;
    height: 5vh;
    border: 1px solid #87544E;
    border-radius: 1vh;
    font-family: 'Quicksand', sans-serif;  
}
}


/*DESKTOP*/
@media screen and (min-width: 600px) {

    .loginSection{
        width: 100%;
        height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 100vh;
    grid-template-rows: 2fr;
}

.sectionLogin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.logo {
    display: grid;
    background: #E8CEB0;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8vw;
    border-bottom-right-radius: 8vw;
}

.logotypeLogin {
    width: 30vw;
}

.loginForm {
    display: grid;
    gap: 4vh;
    margin: 6vh 18vw 4vh 18vw;
}

.loginEmail,.loginPassword {
    border:none;
    border-bottom: 1px solid #87544E;
    background: none;
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Quicksand', sans-serif;  
}

::placeholder {
    color: black;
    font-family: 'Quicksand', sans-serif;  
}

.loginOption{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1vh;  
    margin-top: -25vh; 
}
.googleLogo{
    width: 10vh;
    margin-bottom: 1vh;
}
.btnLogin{
    width: 20vh;
    height: 5vh;
    border: 1px solid #87544E;
    border-radius: 1vh;
   margin-left: 8vw;
   font-family: 'Quicksand', sans-serif;  
}
}