@media screen and (max-width: 600px) and (orientation: portrait) {
.logotypeWall{
width: 100%;
background: #E8CEB0;
display: flex;
justify-content: center;
}

.logoWall{
    width: 60%;
}

.navWall{
background: #F3E6D8;
display: flex;
justify-content: space-around;
padding-top: 1vh;
padding-bottom: 1vh;
}

.icon{
    height: 8vw;
}
}