.containerNewPost {
    background: rgba(0,0,0,.3);
    background-color: #F2F2F2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    
} 
.desktopMain {
    display: flex;
    position: fixed;
	width: 50%;
    height: auto;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    border-radius: 2vw;
	background: rgba(0,0,0,.3);
    margin-top: 75vh;
    justify-content: center;
    align-items: center;
}
#btn-modal:checked ~ .desktopMain{
	opacity: 1;
	visibility: visible;
} 

.contentModal{
    width: 100%;
	height: 100%;
    text-align: center;
	background: #EDEAEA;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
    border-radius: 2vw;
}

#btn-modal:checked ~ .desktopMain .contentModal{
	transform: translateY(0%);
} 

.contentModal label{
	position:relative;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

#btn-modal{
	visibility: hidden;
    display: none;
}

.lbl-modal{
	border-radius: 4px;
	cursor: pointer;
    width: auto;
    height: auto;
    
}

.backButton {
    width: 15%;
    display: flex;
    position: fixed;
    margin-left: 3vw;
}

.newPostTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 100%;
}
.newPostTextInput {
    width: 77%;
    height: 20vh;
    border: none;
    padding: 0%;
    display: flex;
    justify-content: center;
    background: #F3E6D8; 
    margin-left: 4vw;
    padding: 2vw;
    font-family: 'Quicksand', sans-serif;  
}

.imgPublic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.newPostTitle label{
    width: 20vw;
    height: 10vh;
}
.newPostContent > .inputFileNewPost {
    display: none;
}

.newPostContent{
    width: 100%;
    height: 100%;
}
.newPostContent img {
    width: 80px;
    cursor: pointer;
}
.postButton {
    
    height: 5vh;
    border: 1px solid #87544E;
    border-radius: 1vh;
    display: flex;
    margin-bottom: 1vh;
    margin-top: 1vh;
}



/* Para celular */
@media screen and (max-width: 600px) and (orientation: portrait) {

.backButton {
  width: 25%;
  margin-left: 3vw;
}




@media screen and (max-width: 600px) and (orientation: portrait) {
  
}